xsd/DuplicateTool.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oldid" type="xs:string"/>
  <xs:element name="newid" type="xs:string"/>
  <xs:element name="identifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="oldid"/>
        <xs:element ref="newid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assessmenttools">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="identifiers" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>