xsd/Grade.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="finalAssessment" type="xs:short"/>
  <xs:element name="maxgrade" type="xs:short"/>
  <xs:element name="grade">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="finalAssessment"/>
        <xs:element ref="maxgrade"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>